.Rproj.user
.Rhistory
.RData
.Ruserdata

# Quarto build artifacts
_site/
.quarto/

manuscript/data/raw/Clostridioides difficile pathogen database (2025-10-28).csv
manuscript/data/raw/Clostridioides difficile pathogen database (2025-10-28).csv.gz
/.quarto/
